/*
Database views selector 
Author: Luis Rincon @rinconelloinc
*/ 



/*------------------------------------*\
   Variables
\*------------------------------------*/


:root {
/*Main*/
--db-views-background:#1c1c1c;
--db-views-text: #8a8a8a;


/*Borders*/
--db-views-border: 0px solid #8a8a8a;
--db-views-border-radius: 100px;

/*Spacing & Position*/
--db-views-spacing: 15px;
--db-views-position: center;


/*Active tab*/
--db-views-active-background: #1c1c1c;
--db-views-active-text: #fdb933;

/*Hover*/
--db-views-hover-background: #1c1c1c;
--db-views-hover-text: #fdb933;



/*------------------------------------*\
   Responsive
\*------------------------------------*/

/*Menu closed*/
--db-views-responsive-background: #121212;
--db-views-responsive-text: var(--db-views-text);
--db-views-responsive-arrow: var(--db-views-text);

/*Borders*/
--db-views-responsive-border: 3px solid #1c1c1c;
--db-views-responsive-border-radius: 8px;

/*Menu open*/
--db-views-responsive-open-background: var(--db-views-responsive-background);
--db-views-responsive-open-text: var(--db-views-text);

}


/*------------------------------------*\
   Desktop
\*------------------------------------*/


/*Hide the header title */
.notion-collection__header-wrapper h3,
.notion-dropdown__button {
  display: none !important;
}

/*Remove "top border gallery line"*/
.notion-collection-gallery {
  border: none !important;
}

/*Hide drop down menu header*/
.notion-dropdown__menu-header {
  display: none !important;
}


/*-------------------------------------*/


/*Place them on top (Initial State)*/
.notion-dropdown__menu.initial-state {
  z-index: 9 !important;
  opacity: 100% !important;
  transform: none !important;
}

/*Make them full width*/
.notion-dropdown {
  width: 100% !important;
}


.notion-dropdown__button {
  align-items: center;
}

/*Hide the "Notion Menu" item icon*/
.notion-dropdown__option-icon {
  display: none !important;
}

/*Change Position and Layout*/
.notion-dropdown__option-list {
  display: flex !important; /* ← Flex (Horizontal) Block (Vertical)*/
  justify-content: var(--db-views-position); /* ← Position*/
  overflow-y: auto;
}

/*Styling*/
.notion-dropdown__menu {
  left: 0 !important;
  position: unset !important;
  transform: none !important;
  box-shadow: unset !important;
  padding: 10px 0 !important; /* ← Top and down separation */
  background: none !important;
}


/*Disable animations*/
.notion-dropdown__menu.animate-in.animate-out,
.notion-dropdown__menu.animate-in,
.notion-dropdown__menu.animate-out {
  animation: none !important;
}


/*------------------------------------*\
   Views / Categories
\*------------------------------------*/


/*Items*/
.notion-dropdown__option {
  background: var(--db-views-background);
  margin-right: var(--db-views-spacing); /* ← Separation between items*/
  border: var(--db-views-border);
  border-radius: var(--db-views-border-radius);
  padding: 14px 20px !important;  /* ← Categories Button size*/
  color: var(--db-views-text); /* ← Text color*/
  font-weight: bold !important;
  opacity: 100% !important;
}

.notion-dropdown__option-list {
  display: flex !important;
  z-index: 9 !important;
}

.notion-dropdown__option:hover {
  transition: 0.2s ease-in-out;
  color: var(--db-views-hover-text) !important; /* ← Text color on hover*/
  background: var(--db-views-hover-background) !important; /* ← Background color on hover*/
  background-color: var(--db-views-hover-background) !important; /* ← Background color on hover*/
  opacity: 100% !important;
}


/*Active filter*/
.notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option.active {
  background: var(--db-views-active-background);
}

.notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option.active p {
  color: var(--db-views-active-text);
}




/*************************************************************
**************************************************************
*************************************************************/



/*------------------------------------*\
   Responsive
\*------------------------------------*/

@media only screen and (max-width: 600px) {


/*Make the menu hide on first load*/
.notion-dropdown__menu.initial-state {
    z-index: -1 !important;
    opacity: 0 !important;
    transform: scale(0) !important;
}


/*-------------------------------------*/

/*Menu*/

/*Hide gallery database title */
.notion-collection__header
.notion-semantic-string {
  display: none !important;
} 



/*-------------------------------------*/

/*Main Frame*/
  
/*Remove Left Margin*/
.notion-collection__header-wrapper {
  gap: 0px !important;
}


/*Enable views as a panel*/
.notion-collection__header-wrapper h3,
.notion-dropdown__button {
  display: none !important;
  
}


/*Hide views icon*/
.notion-dropdown__menu-header,
.notion-dropdown__option-icon,
.notion-dropdown__button svg:first-of-type {
  display: none !important;
}



/*-------------------------------------*/
  
 /*Dropdown*/

/*Dropdown width*/
.notion-dropdown {
    width: 100px %!important;
}

/*Main Menu Styling*/
.notion-dropdown__button {
  display: flex !important;
    justify-content: space-between !important;
    width: 100% !important;   /* ← Space between Text and dropdown icon*/
    border: var(--db-views-responsive-border);
    padding: 10px !important;
    border-radius: var(--db-views-responsive-border-radius);
    background: var(--db-views-responsive-background);
    color: var(--db-views-responsive-arrow) !important; /*Arrow color */
}

.notion-dropdown__button:hover {
    background-color: var(--db-views-responsive-background);
    border: var(--db-views-responsive-border);
    padding: 10px !important;
}


/*Menu Title*/
.notion-dropdown__button-title {
    margin: 10 0px !important; /*Separation from left */
    color: var(--db-views-responsive-text); /*Title color*/
}


/*Margin between Dropdown and Gallery*/
.notion-dropdown__menu-wrapper {
    margin-bottom: 10px!important;
    position: relative !important;
    
}


/*Menu Styling*/
.notion-dropdown__menu {
    left: 30px !important;
    font-weight: 10px !important;
    transform: translate(40%) !important;
    z-index: 40 !important;
    overflow: hidden !important;
    background: var(--db-views-responsive-open-background) !important;
    border: var(--db-views-responsive-border);
    border-radius: var(--db-views-responsive-border-radius);
    position: absolute !important;
    min-width: 100% !important;  /* ← Menu Width*/
    max-width: 100% !important;
    top: 8px !important;
    box-shadow: 0 0 0 1pxhsla(0,0%,6%,.05),0 3px 6pxhsla(0,0%,6%,.1),0 9px 24pxhsla(0,0%,6%,.2);
}
.notion-dropdown__menu {
    width: 100% !important;
    border-radius: var(--db-views-responsive-border-radius);
    transform: none !important;
    left: auto !important;
    top: auto !important;
    margin-top: 15px !important;
    box-shadow: 0 10px 20px -10px rgb(0 0 0 / 12%) !important;
}





/*Menu animation*/
.notion-dropdown__menu.animate-in {
    animation: dropdown-animation-in .12s ease forwards ;
        translateY(-3%) scale(0.99) !important;
}

.notion-dropdown__menu.animate-out {
    animation: dropdown-animation-out .12s ease forwards ;
        transform: translateY(0%) scale(0) !important;
}





/*Option list styling*/
.notion-dropdown__option-list {
  display: block !important; /* ← Flex (Horizontal) Block (Vertical)*/
  padding: 5px !important;
  flex-wrap: wrap!important;
  background: var(--db-views-responsive-open-background);
}




.notion-dropdown__option {
    display: flex !important;
    cursor: pointer !important;
    padding: 5px 16px !important; /* ← Separation between Notion Views items*/
    height: 50px !important;
    border-radius: 0px !important;
    background: none !important;
}


.notion-dropdown__option:hover {
  transition: 0.2s ease-in-out;
  color: var(--db-views-hover-text);
  background: var(--db-views-hover-background);
  opacity: 100%;
}

  
 /*-------------------------------------*/
  

/*Active filter*/
.notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option.active {
  background: none !important;
}

.notion-collection__header-wrapper .notion-dropdown__menu .notion-dropdown__option.active p {
  color: var(--db-views-active-text);
}


}
