/*---------------------------------*\
   Password Customization
\*---------------------------------*/

:root {
  --psw-content: "New site 🚧 Under construction" !important;
  --psw-background: #fdb933;
  --psw-text-color: #161616;
}

/*----------------------*/

/*Change Password Title*/
.super-password-protection__title:before {
content: var(--psw-content); 
visibility: visible !important;
}

/*Background color*/
.super-password-protection {
    background: var(--psw-background) !important;
    color: var(--psw-text-color) !important;
}

.super-password-protection__title {
visibility: hidden !important;
text-align: center !important;
}
