/*
Toggle Tabs
Author: Luis Rincon @rinconelloinc
*/ 

/*---------------------------------*\
   Toggle Tabs
\*---------------------------------*/


:root {
  /*Closed Styling*/
  --toggle-bg: #161616 !important;
  --toggle-text: #ffffff !important;
  --toggle-border: 0px solid #fdb933 !important;
  --toggle-radius: 10px !important;


  /*Open Styling*/
  --toggle-open-bg: #282828 !important;
  --toggle-open-text: #fdb933 !important;
  --toggle-open-border: 0px solid #fdb933 !important;


  /*Hover*/
  --toggle-hover-bg: #282828 !important;
  --toggle-hover-text: #fdb933 !important;
  --toggle-hover-border: 3px solid #fdb933 !important;


  /*Spacing*/
  --toggle-padding:10px !important;
  --toggle-space-between: 8px !important;
}



/*-------------------------------------*/



/*Toggle - customization*/
.notion-toggle {
  background: var(--toggle-bg);
  color: var(--toggle-text);
  padding: var(--toggle-padding);
  border-radius: var(--toggle-radius);
  margin: var(--toggle-space-between);
  transition: 0.3s ease-in-out !important;
}

.notion-toggle:hover {
  background: var(--toggle-hover-bg);
  outline: var(--toggle-hover-border);
}


/*Title*/
.notion-toggle
.notion-toggle__summary {
  transition: 0.3s ease-in-out !important;
}

.notion-toggle:hover
.notion-toggle__summary {
  color: var(--toggle-hover-text);
  transition: 0.3s ease-in-out !important;
}



/*----------------------*/



/*Heading Toggles*/
.notion-toggle-heading-1 > .notion-toggle__summary,
.notion-toggle-heading-2 > .notion-toggle__summary,
.notion-toggle-heading-3 > .notion-toggle__summary {
  margin-top: 0px !important;
}



/*----------------------*/

/*Trigger*/
.notion-toggle__trigger {
  margin: 0px !important;
}


/*Trigger Open*/
.notion-toggle.open {
  background: var(--toggle-open-bg);
  outline: var(--toggle-open-border);
  padding-bottom: 40px !important;
}



/*----------------------*/



/*Colorize arrow when open*/
  .notion-toggle.open
  .notion-toggle__trigger {
  color: var(--toggle-open-text);
}


/*Disable hover on the trigger*/
.notion-toggle__trigger_icon:hover {
    background: none !important;
}
