/*------------------------------------*\
   Gallery with Text overlay
\*------------------------------------*/

:root {
  
  /*Cards*/
  --gallery-card-bg: #161616 !important;
  --gallery-card-text: #8a8a8a !important;
  --gallery-card-border: none !important;
  --gallery-card-radius: 10px !important;
  --gallery-card-padding: 10px !important;
  --gallery-card-shadow: none !important;
  
  
  /*Cover Image*/
  --gallery-cover-radius: 5px !important;
  --gallery-cover-fill: relative !important;
  /*Show card content = position: relative*/
  /*Hide card content = position: unset*/
  
  /*Title + Icons*/
  --gallery-title-weight: bold !important;
  --gallery-icon-display: none !important;
  /*Show icon = display: block*/
  /*Hide icon = display: none*/
  
  
  /*Description text*/
  --gallery-text-color: #ffffff !important;
  --gallery-text-align: left !important;
  --gallery-text-size: 9.5pt !important;
  --gallery-text-position: block !important;
  /*Align to top = block*/
  /*Align to center = flex*/
  
  
  /*Overlay*/
  --gallery-overlay-bg: rgba(28, 28, 28, 80%) !important;
  --gallery-overlay-padding: 30px 30px 30px 30px !important;
}



/*----------------------*/



/*Increase the size of grid columns*/
.notion-collection-gallery {
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)) !important;
}

@media only screen and (max-width: 1000px) {

.notion-collection-gallery {
  grid-template-columns: repeat(auto-fill, minmax(100%, 1fr)) !important;
}



} /*← Do not delete this*/


/*------------------------------------*\
   Cards
\*------------------------------------*/

/*Main Gallery Card*/
.notion-collection-card {
  background: var(--gallery-card-bg) !important;
  color: var(--gallery-card-text) !important;
  border: var(--gallery-card-border) !important;
  border-radius: var(--gallery-card-radius) !important;
  padding: var(--gallery-card-padding) !important;
  box-shadow: var(--gallery-card-shadow) !important;
  
  overflow: hidden !important;
  transition: 0.4s ease-in-out !important;
}




/*------------------------------------*\
   Cover Image
\*------------------------------------*/


/*Cover Image size*/
.notion-collection-card__cover {
  border-radius: var(--gallery-cover-radius) !important;
  position: var(--gallery-cover-fill) !important;
  /*Show card content = position: relative*/
  /*Hide card content = position: unset*/
}




/*------------------------------------*\
   Title + Icons
\*------------------------------------*/


/*Title Styling*/
.notion-property__title
.notion-semantic-string {
    font-weight: var(--gallery-title-weight) !important;
}


/*Hide icon*/
.notion-property__title__icon-wrapper {
  display: var(--gallery-icon-display) !important;
}


/*------------------------------------*\
   Description Text
\*------------------------------------*/


/*Text*/
.notion-collection-card.gallery
.notion-collection-card__property-list
.notion-semantic-string {
  line-height: 1.3 !important;
  text-align: var(--gallery-text-align) !important;
  color:  var(--gallery-text-color) !important;
  white-space: normal !important;
}


/*------------------------------------*\
   Overlay
\*------------------------------------*/


/*Overlay Styling*/
.notion-collection-card
.notion-collection-card__property-list {
  position: absolute !important;
  font-size: var(--gallery-text-size) !important; 
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: var(--gallery-overlay-bg);
  padding: var(--gallery-overlay-padding) !important;
  margin: auto !important;
  display: var(--gallery-text-position) !important;
  /*Align to top = block*/
  /*Align to center = flex*/
}


/*Animation*/
.notion-collection-card
.notion-collection-card__property-list {
  transition: 0.40s ease-in-out; /* ← Overlay timing*/
  opacity: 0%;
}


/*Hover*/
.notion-collection-card:hover
.notion-collection-card__property-list {
  opacity: 100% !important;
}
